<table class="table table-striped">
	<colgroup>
		<col class="col-xs-10">
		<col class="col-xs-2">
	</colgroup>
	<thead>
	<tr>
		<th>History</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>Create a new Project <b> Test project 3</b></td>
		<td>2 day ago</td>
	</tr>
	<tr>
		<td>Create a new Project <b> Test project 2</b></td>
		<td>2 day ago</td>
	</tr>
	<tr>
		<td>Create a new Project <b> Test project 1</b></td>
		<td>2 day ago</td>
	</tr>
	<tr>
		<td>Create a new Space <b>My Google servers</b></td>
		<td>2 day ago</td>
	</tr>
	<tr>
		<td>Create a new Space <b>My Services in AWS</b> </td>
		<td>2 day ago</td>
	</tr>
	<tr>
		<td><a href="#">see all logs</a></td>
		<td></td>
	</tr>
	</tbody>
</table>