<div class="row dashboard-page">
  <div class="">
    <h3>Create a new space</h3>

    <div class="panel panel-success">
      <div class="panel-body">
        <form class="form-horizontal">

          <div class="form-group">
            <label class="col-lg-2">Space Name</label>
            <div class="col-lg-6">
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Space Name">
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-2">Tags</label>
            <div class="col-lg-6">
              <input type="text" class="form-control tagsinput" data-role="tagsinput" >
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-2">Description</label>
            <div class="col-lg-10">
              <textarea  class="form-control" rows="3"></textarea>
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-offset-2 col-lg-6">
            <button type="button" class="btn btn-primary">Create Space</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <br />
    <div>
    <h3>Last logs</h3>
      <div class="panel panel-success">
        <div class="panel-body">
          2015-09-12 Project "watchi-my-server-2" belong the Space "my-servers-usa" throw an alert <a href="#">see details</a><br />
          2015-09-12 Project "watchi-my-server-2" belong the Space "my-servers-usa" throw an alert <a href="#">see details</a><br />
          2015-09-12 Project "watchi-my-server-2" belong the Space "my-servers-usa" throw an alert <a href="#">see details</a><br />
          2015-09-12 Project "watchi-my-server-2" belong the Space "my-servers-usa" throw an alert <a href="#">see details</a><br />
          2015-09-12 Project "watchi-my-server-2" belong the Space "my-servers-usa" throw an alert <a href="#">see details</a><br />
          2015-09-12 Project "watchi-my-server-2" belong the Space "my-servers-usa" throw an alert <a href="#">see details</a><br />
          2015-09-12 Project "watchi-my-server-2" belong the Space "my-servers-usa" throw an alert <a href="#">see details</a><br />
          2015-09-12 Project "watchi-my-server-2" belong the Space "my-servers-usa" throw an alert <a href="#">see details</a><br />
          2015-09-12 Project "watchi-my-server-2" belong the Space "my-servers-usa" throw an alert <a href="#">see details</a><br />

        </div>
        <a href="#">see all details</a>
      </div>

    </div>
  </div>
</div>
