<div class="row dashboard-page">
  <div class="">
    <h3>Create a new space</h3>

    <div class="panel panel-success">
      <div class="panel-body">
				<%= render "spaces/create_space" %>
      </div>
    </div>

    <br />
    <div>
      <div class="panel panel-success">
        <div class="panel-body">
					<%= render "history" %>
        </div>

      </div>

    </div>
  </div>
</div>
