<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<h1>Hi </h1>

You have been invited to join Watchiot.

Click here to activate your WatchIoT account <%= url_for(controller: 'users',	 action: 'invited', id: @token, only_path: false)  %><br/><br/>


WatchIoT Support
</body>
</html>
