<h1>Hi </h1>

You have been invited to join Watchiot.

Click here to activate your WatchIoT account <%= url_for(controller: 'notifications',	 action: 'invite', token: @token, only_path: false)  %><br/><br/>

WatchIoT Support
