<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<h1>Hi <%= @user.username %>, thanks for signing up!</h1>

Welcome to WatchIoT!<br/><br/>

Click here to activate your WatchIoT account <a href="<%= url_for(controller: 'users',	 action: 'verify', id: @token, only_path: false)  %>"></a><br/><br/>

Regards<br/><br/>

WatchIoT Support
</body>
</html>
