<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

Hi <%= @user.username %>!

<p>The password was restarted correctly.</p></br>

<br/><br/>
Thanks,
<br/>

WatchIoT Support
</body>
</html>
