<form class="form-horizontal">

	<div class="form-group">
		<label class="col-lg-2">Space Name</label>
		<div class="col-lg-10">
			<input type="text" class="form-control" id="exampleInputEmail1" value="My Google Servers" readonly>
		</div>
	</div>

	<div class="form-group">
		<label class="col-lg-2">Description</label>
		<div class="col-lg-10">
			<textarea  class="form-control" rows="3"></textarea>
		</div>
	</div>

	<div class="form-group">
		<label class="col-lg-2">Public space</label>
		<div class="col-lg-10">
			<input type="checkbox">
		</div>
		<div class="col-lg-10">
			<small>If you check this like public all the people can subscribe in your notification by email.</small>
		</div>
	</div>

	<div class="form-group">
		<div class="col-lg-offset-2 col-lg-9">
			<button type="button" class="btn btn-primary">Save Space</button>
		</div>
		<a href="/spaces/delete/1" class="list-action clear-background" title="Delete space"><i class="fa fa-trash fa-2x"></i></a>
		<a href="/spaces/setting" class="list-action clear-background" title="Setting space"><i class="fa fa-cog fa-2x"></i></a>

	</div>
</form>