<div class="panel panel-default">
	<div class="panel-heading"><b>Configure</b></div>
	<div class="panel-body">
		<div class="form-group">
			<label class="col-lg-2">Public space</label>
			<div class="col-lg-10">
				<input type="checkbox">
			</div>
			<div class="col-lg-10">
				<small>If you check this like public all the people can subscribe in your notification by email.</small>
			</div>
		</div>
		<br /><br />
		<div class="form-group">
			<label class="col-lg-2">Users can subscribe </label>
			<div class="col-lg-10">
				<input type="checkbox">
			</div>
			<div class="col-lg-10">
				<small>If you space is public all the people can subscribe in your notification by email.</small>
			</div>
		</div>
	</div>
</div>