<div class="panel panel-default">
	<div class="panel-heading"><b>Members</b></div>
	<div class="panel-body">

		<div class="col-lg-10">
			<img class="img-circle" src="https://secure.gravatar.com/avatar/fc69b473b2b8d3c7e23c632199fec2e0"
					 alt="Fc69b473b2b8d3c7e23c632199fec2e0" width="20" height="20">
			gorums (<b>robertazo123@gmail.com</b>)

		</div>
		<div class="col-lg-2 success">
			<p class="text-success">Current owner</p>
		</div>

		<div class="col-lg-10">
			<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				<img class="img-circle" src="https://secure.gravatar.com/avatar/fc69b473b2b8d3c7e23c632199fec2e0"
						 alt="Fc69b473b2b8d3c7e23c632199fec2e0" width="20" height="20">
				ack (<b>gorumlabmatcom@gmail.com</b>)
			</a>
		</div>
		<div class="col-lg-2">
			<p class="text-info">Partner</p>
		</div>

		<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
			<div class="panel-body">
				<div class="col-lg-10">
					Create project
				</div>
				<div class="col-lg-2">
					<input type="checkbox" />
				</div>

				<div class="col-lg-10">
					Edit project
				</div>
				<div class="col-lg-2">
					<input type="checkbox" />
				</div>

				<div class="col-lg-10">
					Administer project
				</div>
				<div class="col-lg-2">
					<input type="checkbox" />
				</div>

				<div class="col-lg-10">
					Add new members
				</div>
				<div class="col-lg-2">
					<input type="checkbox" />
				</div>

				<div class="col-lg-10">
					Add global stages
				</div>
				<div class="col-lg-2">
					<input type="checkbox" />
				</div>

			</div>
		</div>
	</div>
</div>