<div class="row dashboard-page index-setting">
  <div class="">
		<br />
		<h3>My Google Servers</h3>
		<div class="panel panel-success">
			<div class="panel-body">

				<div>
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><h4>Setting</h4></a></li>
						<li role="presentation"><a href="#members" aria-controls="members" role="tab" data-toggle="tab"><h4>Members</h4></a></li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="home">
							<br />

							<div class="panel panel-default">
								<div class="panel-heading"><b>Configure</b></div>
								<div class="panel-body">
									<div class="form-group">
										<label class="col-lg-2">Public space</label>
										<div class="col-lg-10">
											<input type="checkbox">
										</div>
										<div class="col-lg-10">
											<small>If you check this like public all the people can subscribe in your notification by email.</small>
										</div>
									</div>
									<br /><br />
									<div class="form-group">
										<label class="col-lg-2">Users can subscribe </label>
										<div class="col-lg-10">
											<input type="checkbox">
										</div>
										<div class="col-lg-10">
											<small>If you space is public all the people can subscribe in your notification by email.</small>
										</div>
									</div>
								</div>
							</div>
							<br />

							<div class="panel panel-default">
								<div class="panel-heading"><b>Change name space</b></div>
								<div class="panel-body">

									<small>This change can be painful and break your applications.</small>
									<form class="form-group">
										<div class="form-group col-lg-6">
											<label>Name space</label>
											<div>
												<input type="text" class="form-control" placeholder="Username" value="My Google Servers">
											</div>
										</div>
										<div class="form-group">
											<div class="col-lg-9">
												<button type="button" class="btn btn-danger">Change</button>
											</div>
										</div>
									</form>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading"><b>Global stages</b></div>
								<div class="panel-body">

									<small>Add global stages for your project can use.</small>
									<form class="form-inline">
										<br />
										<div class="form-group">
											<label for="exampleInputName2">Name</label>
											<input type="text" class="form-control" id="exampleInputName2" placeholder="Name">
										</div>

										<button type="submit" class="btn btn-default">Add stage</button>
									</form>

									<br /><br />

									<table class="table table-striped">
										<thead>
										<tr>
											<th>Stage name</th>
											<th>Notifications</th>
											<th></th>
											<th></th>
											<th></th>
										</tr>
										</thead>
										<tbody>
										<tr>
											<th scope="row">Normal</th>
											<th><input type="checkbox">By email</th>
											<th><input type="checkbox" disabled>By sms (<a href="#">Upgrade the plan</a>)</th>
											<th><input type="checkbox" disabled>By webhook (<a href="#">Upgrade the plan</a>)</th>
											<td>
												<a href="/projects/delete/1" class="list-action clear-background" title="Delete project"><i class="fa fa-trash fa-2x"></i></a>
											</td>
										</tr>
										<tr>
											<th scope="row">Warning</th>
											<th><input type="checkbox" checked>By email</th>
											<th><input type="checkbox" disabled>By sms (<a href="#">Upgrade the plan</a>)</th>
											<th><input type="checkbox" disabled>By webhook (<a href="#">Upgrade the plan</a>)</th>
											<td>
												<a href="/projects/delete/1" class="list-action clear-background" title="Delete project"><i class="fa fa-trash fa-2x"></i></a>
											</td>
										</tr>
										<tr>
											<th scope="row">Panic</th>
											<th><input type="checkbox" checked>By email</th>
											<th><input type="checkbox" disabled>By sms (<a href="#">Upgrade the plan</a>)</th>
											<th><input type="checkbox" disabled>By webhook (<a href="#">Upgrade the plan</a>)</th>
											<td>
												<a href="/projects/delete/1" class="list-action clear-background" title="Delete project"><i class="fa fa-trash fa-2x"></i></a>
											</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>

						</div>
						<div role="tabpanel" class="tab-pane" id="members">
							<br />

							<div class="panel panel-primary">
								<div class="panel-heading"><b>Add a new member</b></div>
								<div class="panel-body">

									<small>if the member does not exist on <b>WatchIoT</b> we will send an email to the new member and we will create an account with a default password.</small>
									<form class="form-group">
										<div class="form-group col-lg-6">
											<label>Email</label>
											<div>
												<input type="text" class="form-control" placeholder="Email member">
											</div>
										</div>

										<div class="form-group">
											<div class="col-lg-9">
												<button type="button" class="btn btn-primary" disabled>Add</button>
											</div>
										</div>
									</form>
								</div>
							</div>
							<br />

							<div class="panel panel-default">
								<div class="panel-heading"><b>Members</b></div>
								<div class="panel-body">
									<div class="col-lg-10">
											<img class="img-circle" src="https://secure.gravatar.com/avatar/fc69b473b2b8d3c7e23c632199fec2e0"
													 alt="Fc69b473b2b8d3c7e23c632199fec2e0" width="20" height="20">
											Gorums (<b>robertazo123@gmail.com</b>)

									</div>
									<div class="col-lg-2 success">
										<p class="text-success">Current owner</p>
									</div>

										<div class="col-lg-10">
											<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
												<img class="img-circle" src="https://secure.gravatar.com/avatar/fc69b473b2b8d3c7e23c632199fec2e0"
														 alt="Fc69b473b2b8d3c7e23c632199fec2e0" width="20" height="20">
												Ack (<b>gorumlabmatcom@gmail.com</b>)
											</a>
										</div>
										<div class="col-lg-2">
											<p class="text-info">Partner</p>
										</div>

									<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
										<div class="panel-body">
											 Permissions
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>