<div class="row dashboard-page">
  <div class="">
		<br />
		<br />
		<div class="panel panel-success">
			<div class="panel-body">
				<%= render "edit_space" %>
			</div>
		</div>

		<br />

    <h3>Create a new project</h3>
    <div class="panel panel-success">
      <div class="panel-body">
				<%= render "projects/create_project" %>
      </div>
    </div>
    <br />
    <div>
			<%= render "projects/list_projects" %>
		</div>
	</div>
</div>