<div class="container register-height">
	<div class="jumbotron">
		<h2>Forget the password!</h2>
		<p>An email has been sent to principal email. Please click to the restore
			link to reset your password.</p>
	</div>
</div>
