<div class="with-gradient" id="plans">
	<div class="started-session">
		<div class="row value-props height-panel" >
			<h1 class="col-lg-12">Plans</h1>
			<br /><br /><br /><br /><br />
			<div data-example-id="simple-table" class="bs-example">
				<table class="table table-bordered">
					<colgroup>
						<col class="col-xs-5">
						<col class="col-xs-2">
						<col class="col-xs-2">
						<col class="col-xs-2">
						<col class="col-xs-2">
					</colgroup>
					<thead>
					<tr class="active">
						<th>Feature</th>
						<% @plans.each do |plan| %>
						<th><%= plan.name %></th>
						<% end %>
					</tr>
					</thead>
					<tbody>
					<% @features.each do |feature| %>
					<tr>
						<td class="text-left"><strong><%= feature.name %></strong></td>
						<% feature.plan_features.each do |plan_feature| %>
						<td><% if plan_feature.value == 'true' %><i class="fa fa-check"></i><% else %><%= plan_feature.value %><% end %></td>
						<% end %>
					</tr>
					<% end %>
					<tr>
						<td></td>
						<% @plans.each do |plan| %>
							<td class="success"><b>$<%= number_with_precision(plan.amount_per_month, precision: 0) %>/mounth</b></td>
						<% end %>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div><!-- /.row -->
</div>