<div class="with-gradient" id="plans">
	<div class="started-session">
		<div class="row value-props height-panel" >
			<h1 class="col-lg-12">Plans</h1>
			<br /><br /><br /><br /><br />
			<div data-example-id="simple-table" class="bs-example">
				<table class="table table-bordered">
					<colgroup>
						<col class="col-xs-5">
						<col class="col-xs-2">
						<col class="col-xs-2">
						<col class="col-xs-2">
						<col class="col-xs-2">
					</colgroup>
					<thead>
					<tr class="active">
						<th>Feature</th>
						<th>Free</th>
						<th>Small</th>
						<th>Medium</th>
						<th>Large</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td class="text-left"><strong>Number of spaces</strong></td>
						<td>3</td>
						<td>5</td>
						<td>10</td>
						<td>30</td>
					</tr>
					<tr>
						<td class="text-left"><strong>Number of projects by space</strong></td>
						<td>5</td>
						<td>10</td>
						<td>15</td>
						<td>30</td>
					</tr>
					<tr>
						<td class="text-left"><strong>Private spaces and projects</strong></td>
						<td><i class="fa fa-check"></i></td>
						<td><i class="fa fa-check"></i></td>
						<td><i class="fa fa-check"></i></td>
						<td><i class="fa fa-check"></i></td>
					</tr>
					<tr>
						<td class="text-left"><strong>Request per minutes</strong></td>
						<td>1</td>
						<td>15	</td>
						<td>30</td>
						<td>60</td>
					</tr>
					<tr>
						<td class="text-left"><strong>Notification by email</strong></td>
						<td><i class="fa fa-check"></i></td>
						<td><i class="fa fa-check"></i></td>
						<td><i class="fa fa-check"></i></td>
						<td><i class="fa fa-check"></i></td>
					</tr>
					<tr>
						<td class="text-left"><strong>Notification by sms</strong></td>
						<td></td>
						<td><i class="fa fa-check"></i></td>
						<td><i class="fa fa-check"></i></td>
						<td><i class="fa fa-check"></i></td>
					</tr>
					<tr>
						<td class="text-left"><strong>Webhook support</strong></td>
						<td></td>
						<td><i class="fa fa-check"></i></td>
						<td><i class="fa fa-check"></i></td>
						<td><i class="fa fa-check"></i></td>
					</tr>
					<tr>
						<td class="text-left"><strong>Subscribe users in public spaces/projects</strong></td>
						<td>unlimited</td>
						<td>unlimited</td>
						<td>unlimited</td>
						<td>unlimited</td>
					</tr>
					<tr>
						<td class="text-left"><strong>Team members</strong></td>
						<td>1</td>
						<td>5</td>
						<td>10</td>
						<td>unlimited</td>
					</tr>
					<tr>
						<td></td>
						<td class="success"><b>$0/mounth</b></td>
						<td class="success"><b>$9/month</b></td>
						<td class="success"><b>$19/month</b></td>
						<td class="success"><b>$49/month</b></td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div><!-- /.row -->
</div>