<!-- include hero here if the page is index -->

<div class="container-fluid hero">
  <div class="starter-template">
    <h1 class="dotnet">Watch IoT</h1>
    <p class="lead">A monitor services, resources and IoT</p>
		<p><b><font color="red">(We are under construction)</font></b></p>
    <!-- Standard button -->
    <a href="#getting-started" class="btn-hero-core">Getting started</a>
  </div>
</div><!-- /.container -->

<div class="container-fluid hero-gradient content">
	<%= render "description" %>
	<%= render "get_start" %>
	<%= render "faq" %>
	<%= render "contactus", object: @contactus %>
</div>