<!-- include hero here if the page is index -->

<div class="container hero">

  <div class="starter-template">
    <h1 class="dotnet">WatchIoT</h1>
    <p class="lead">A Monitor IoT Cloud Service</p>
    <!-- Standard button -->
    <a href="/core/getting-started/" class="btn-hero-core">Getting started</a>
    <a href="/core/about/" class="btn-hero-core">About WatchIoT</a>

  </div>

</div><!-- /.container -->

<div class="container content">
  <!-- CONTENT GOES HERE -->
  <!-- INCLUDE THE VALUE PROPS -->
  <div id="vp-container">
    <div id="initial-vps">
      <div class="row value-props">
        <div class="col-lg-4 text-center animated fadeInLeft">
          <span class="fa fa-cubes fa-3x"></span>
          <h2 class="value-prop-heading">Modular</h2>
          <p>.NET Core is a set of runtime, library and compiler components. Microsoft uses these components in various configurations for device and cloud workloads. You can do the same for your app or service.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 text-center  animated fadeIn">
          <span class="fa fa-code fa-3x"></span>
          <h2 class="value-prop-heading">Managed</h2>
          <p>Managed runtimes make code easy to write and guarantee safe execution. .NET Core manages memory with a garbage collector, compiles your code with a JIT compiler or ahead of time with .NET Native. </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 text-center animated fadeInRight">
          <span class="fa fa-linux fa-3x"></span>
          <h2 class="value-prop-heading">Cross-platform</h2>
          <p>You can create .NET Core apps that run on multiple OSes and CPUs. .NET Core runs on Windows. Ports are in progress for Linux, OS X and FreeBSD, as is integration with the LLVM compiler.</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div>
  </div>

</div>