<div role="tabpanel" class="tab-pane" id="api">
	<br /><br />
	<form class="form">
		<p>You can send us for example this type of payload by <strong>POST</strong></p>
		<br />

		<p>Url: https://www.watchiot.org/user_name/space_name/project_name/</p>
		<div class="form-group">
			<p>HTML</p>
			<code>
				countUser=42<br />
				latinName=12<br />
				angloName=20
			</code>
		</div>
		<div class="form-group">
			<p>JSON</p>
			<code>
				{
				countUser:42,
				latinName:12,
				angloName:20
				}</code>
		</div>
		<div class="form-group">
			<p>XML</p>
			<code>
				&#60;parameters&#62;<br />
				&#60;parameter name="countUser" value="42"/&#62;<br />
				&#60;parameter name="latinName" value="12"/&#62;<br />
				&#60;parameter name="angloName" value="20"/&#62;<br />
				&#60;/parameters&#62;
			</code>
		</div>
	</form>
</div>