<form class="form-horizontal">

	<div class="form-group">
		<label class="col-lg-2">Project Name</label>
		<div class="col-lg-10">
			<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Project Name">
		</div>
	</div>

	<div class="form-group">
		<label class="col-lg-2">Tags</label>
		<div class="col-lg-6">
			<input type="text" class="form-control tagsinput" data-role="tagsinput" >
		</div>
	</div>

	<div class="form-group">
		<label class="col-lg-2">Description</label>
		<div class="col-lg-10">
			<textarea  class="form-control" rows="3"></textarea>
		</div>
	</div>

	<div class="form-group">
		<div class="col-lg-offset-2 col-lg-6">
			<button type="button" class="btn btn-primary">Create Project</button>

		</div>
		<div class="col-lg-offset-2 col-lg-6">
			<input type="file" class="btn btn-default">Import Project</input>
		</div>
	</div>
</form>