<h3>List of Project</h3>
<div class="panel panel-success">
	<div class="panel-body">
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingOne">
					<div class="row">
						<table class="table table-striped">
							<colgroup>
								<col class="col-xs-2">
								<col class="col-xs-6">
								<col class="col-xs-2">
							</colgroup>
							<thead>
							<tr>
								<th>Project Name</th>
								<th>Project Description</th>
								<th></th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<th scope="row">Mark</th>
								<td>Otto</td>
								<td>
									<a href="/projects/1" class="list-action clear-background" title="Edit project"><i class="fa fa-pencil-square-o fa-2x"></i></a>
									<a href="/projects/delete/1" class="list-action clear-background" title="Delete project"><i class="fa fa-trash fa-2x"></i></a>
									<a href="/projects/setting" class="list-action clear-background" title="Setting project"><i class="fa fa-cog fa-2x"></i></a>
								</td>
							</tr>
							<tr>
								<th scope="row">Jacob</th>
								<td>Thornton</td>
								<td>
									<a href="/projects/1" class="list-action clear-background" title="Edit project"><i class="fa fa-pencil-square-o fa-2x"></i></a>
									<a href="/projects/delete/1" class="list-action clear-background" title="Delete project"><i class="fa fa-trash fa-2x"></i></a>
									<a href="/projects/setting" class="list-action clear-background" title="Setting project"><i class="fa fa-cog fa-2x"></i></a>
								</td>
							</tr>
							<tr>
								<th scope="row">Larry</th>
								<td>the Bird</td>
								<td>
									<a href="/projects/1" class="list-action clear-background" title="Edit project"><i class="fa fa-pencil-square-o fa-2x"></i></a>
									<a href="/projects/delete/1" class="list-action clear-background" title="Delete project"><i class="fa fa-trash fa-2x"></i></a>
									<a href="/projects/settings" class="list-action clear-background" title="Setting project"><i class="fa fa-cog fa-2x"></i></a>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>