<div class="panel panel-default">
	<div class="panel-heading"><b>Export project</b></div>
	<div class="panel-body">

		<small>You can save the project.</small>
		<form class="form-group">
			<div class="form-group">
				<div class="col-lg-9">
					<button type="button" class="btn btn-success">Export</button>
				</div>
			</div>
		</form>
	</div>
</div>