<div class="row dashboard-page project-height">
	<div class="">
		<div class="panel panel-success">
			<div class="panel-body">
				<%= render 'edit_project' %>
			</div>
		</div>

		<h3>Properties</h3>
		<div class="panel panel-success">
			<div class="panel-body">
			</div>
		</div>

	</div>
</div>
