<div class="row dashboard-page project-height">
	<div class="">
		<br />
		<br />

		<div class="panel panel-success">
			<div class="panel-body">
				<form class="form-horizontal">

					<div class="form-group">
						<label class="col-lg-2">Project Name</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="exampleInputEmail1" value="My Google Servers" readonly>
						</div>
					</div>

					<div class="form-group">
						<label class="col-lg-2">Tags</label>
						<div class="col-lg-6">
							<input type="text" class="form-control tagsinput" data-role="tagsinput" >
						</div>
					</div>

					<div class="form-group">
						<label class="col-lg-2">Description</label>
						<div class="col-lg-10">
							<textarea  class="form-control" rows="3"></textarea>
						</div>
					</div>

					<div class="form-group">
						<div class="col-lg-offset-2 col-lg-9">
							<button type="button" class="btn btn-primary">Save Project</button>
						</div>
						<a href="/projects/delete/1" class="list-action clear-background" title="Delete space"><i class="fa fa-trash fa-2x"></i></a>
						<a href="/projects/setting" class="list-action clear-background" title="Setting space"><i class="fa fa-cog fa-2x"></i></a>

					</div>
				</form>
			</div>
		</div>
		<br /><br />
		<div class="panel panel-success">
			<div class="panel-body">
				<div>
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#notification" aria-controls="notification" role="tab" data-toggle="tab"><h4>Notifications</h4></a></li>
						<li role="presentation"><a href="#request" aria-controls="request" role="tab" data-toggle="tab"><h4>Requests</h4></a></li>
						<li role="presentation" class="disabled"><a href="#webhook" aria-controls="webhook" role="tab" data-toggle="tab" title="Upgrade the plan"><h4>Webhook</h4></a></li>
						<li role="presentation"><a href="#parameters" aria-controls="parameters" role="tab" data-toggle="tab"><h4>Parameters</h4></a></li>
						<li role="presentation"><a href="#stage" aria-controls="stage" role="tab" data-toggle="tab"><h4>Stages</h4></a></li>
						<li role="presentation"><a href="#api" aria-controls="api" role="tab" data-toggle="tab"><h4>Apis</h4></a></li>
					</ul>

					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="notification">
							<br /><br />
							<form class="form-horizontal">
								<p>What way of notifications do you want to receive?</p>
								<br />
								<div class="form-group">
									<label class="col-lg-2">By Email</label>
									<div class="col-lg-10">
										<input type="checkbox" checked>
									</div>
									<div class="col-lg-10">
										<small>If you check this you will receive notifications by email.</small>
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-2">By Sms</label>
									<div class="col-lg-10">
										<input type="checkbox" disabled>
									</div>
									<div class="col-lg-10">
										<small>If you check this you will receive notifications by sms. (<a href="#">Upgrade the plan</a>)</small>
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-2">By Webhook</label>
									<div class="col-lg-10">
										<input type="checkbox" disabled>
									</div>
									<div class="col-lg-10">
										<small>If you check this you will receive notifications by webhook. (<a href="#">Upgrade the plan</a>)</small>
									</div>
								</div>
								<div class="col-lg-10">
									<button type="button" class="btn btn-primary">Save</button>
								</div>
							</form>
						</div>

						<div role="tabpanel" class="tab-pane" id="request">
							<br /><br />
							<form class="form">
								<p>Do you want to send the request or wait for them?</p>
								<br />

								<div class="panel  panel-success col-lg-6">
									<div class="panel-heading">
										<div class="radio">
											<label>
												<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
												Send request
											</label>
										</div>
									</div>
									<div class="panel-body">
										<div class="form-group">
											<label for="requestPerMin">Request per minutes:</label>
											<div>
												<input type="number" value="1" min="1" max="1" class="form-control" id="requestPerMin" placeholder="Request per minutes" disabled  title="Upgrade the plan">
											</div>
										</div>
										<label  for="url">Server url:</label>
										<div class="form-group">
											<div class="col-lg-3">
												<select class="form-control">
													<option>GET</option>
													<option>POST</option>
												</select>
											</div>
											<div class="col-lg-9">
												<input type="text" class="form-control" id="url" placeholder="Url">
											</div>
										</div>
										<br /><br />

										<div class="form-group">
											<label>Content type:</label>
											<select class="form-control">
												<option>text/html</option>
												<option>text/plain</option>
												<option>application/xml</option>
												<option>application/json</option>
											</select>
										</div>

										<div class="form-group">
											<label>Raw post:</label>
											<textarea class="form-control" rows="3"></textarea>
										</div>

										<div class="form-group">
											<button type="button" class="btn btn-primary">Save</button>
											<button type="button" class="btn btn-info">Test</button>
										</div>
									</div>

								</div>

								<div class="panel  panel-success col-lg-6">
									<div class="panel-heading">
										<div class="radio">
											<label>
												<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
												Waiting for request
											</label>
										</div>
									</div>
									<div class="panel-body">
										<div class="form-group">
											<label for="requestPerMin">Waiting request per minutes:</label>
											<div>
												<input type="number" value="1" min="1" max="1" class="form-control" id="requestPerMin" placeholder="Request per minutes" disabled  title="Upgrade the plan">
											</div>
										</div>
										<br />
										<div class="form-group">
											<label class="col-lg-2">Wherever Ip</label>
											<div class="col-lg-10">
												<input type="checkbox">
											</div>
											<div class="col-lg-10">
												<small>If you check this our server catch requests for nobody ip.</small>
											</div>
										</div>
										<br /><br /><br />
										<div class="form-group">
											<label  for="url">Client ip:</label>
											<div class="col-lg-12">
												<input type="text" class="form-control" id="url" placeholder="Client ip">
											</div>
										</div>
										<br /><br />
										<div class="form-group">
											<label  for="url">Client ip:</label>
											<div class="col-lg-12">
												<input type="text" class="form-control" id="url" placeholder="Client ip">
											</div>
										</div>
										<br /><br /><br />
										<div class="form-group">
											<button type="button" class="btn btn-primary">Save</button>
											<button type="button" class="btn btn-info">Wait</button>
										</div>

									</div>
								</div>

							</form>
						</div>

						<div role="tabpanel" class="tab-pane" id="webhook">
							<br /><br />
							<form class="form">
								<p>Do you want to send the request or wait for them?</p>
								<br />
								<div class="form-group">
									<label class="col-lg-2">Send request</label>
									<div class="col-lg-10">
										<input type="checkbox">
									</div>
									<div class="col-lg-10">
										<small>If you check this the notification will be send you by email.</small>
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-2">Waiting for request</label>
									<div class="col-lg-10">
										<input type="checkbox">
									</div>
									<div class="col-lg-10">
										<small>If you check this the notification will be send you by sms</small>
									</div>
								</div>
							</form>
						</div>

						<div role="tabpanel" class="tab-pane" id="parameters">
							<br /><br />
							<form class="form-inline">
								<p>Do you want to send the request or wait for them?</p>
								<br />
								<div class="form-group">
									<label for="exampleInputName2">Name</label>
									<input type="text" class="form-control" id="exampleInputName2" placeholder="Name">
								</div>
								<div class="form-group">
									<label for="exampleInputName2">Type</label>
									<select class="form-control">
										<option>Numeric</option>
										<option>String</option>
										<option>Boolean</option>
									</select>
								</div>

								<button type="submit" class="btn btn-default">Add parameter</button>
							</form>
						</div>

						<div role="tabpanel" class="tab-pane" id="stage">
							<br /><br />
							<form class="form-inline">
								<p>Do you want to send the request or wait for them?</p>
								<br />
								<div class="form-group">
									<label for="exampleInputName2">Name</label>
									<input type="text" class="form-control" id="exampleInputName2" placeholder="Name">
								</div>

								<button type="submit" class="btn btn-default">Add stage</button>
							</form>
						</div>

						<div role="tabpanel" class="tab-pane" id="api">
							<br /><br />
							<form class="form-inline">
								<p>Do you want to send the request or wait for them?</p>
								<br />
							<code>
								{
								name1:"value1",
								name2:"value2"
								}</code>
							</form>
						</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>
