<div class="panel panel-default">
	<div class="panel-heading" role="tab" id="apiKey">
		<div class="row">
			<h4 class="panel-title ">
				<a class="collapsed col-lg-12 clear-background" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseApiKey" aria-expanded="false" aria-controls="collapseTwo">
					<h4>Api key</h4>
				</a>
			</h4>
		</div>
	</div>
	<div id="collapseApiKey" class="panel-collapse collapse<%if @in == 'api'%> in<%end%>" role="tabpanel" aria-labelledby="apiKey">
		<div class="panel-body">
			<div data-example-id="simple-table" class="bs-example">

				<b>My API Key</b>
				<br /><br />
				<% current_api_key %>
				<br /><br />

				<%= form_for @user, url: '/' + current_user.username + '/setting/key/generate' do |f| %>
					<div class="form-group">
						<%= div_for(@user, class: 'form-group') do %>
							<%= submit_tag 'Generate new', class: 'btn btn-primary' %>
						<%end%>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>