<div class="panel panel-default">
	<div class="panel-heading" role="tab" id="plans">
		<div class="row">
			<h4 class="panel-title ">
				<a class="collapsed col-lg-12 clear-background" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsePlans" aria-expanded="false" aria-controls="collapseTwo">
					<h4>Plans</h4>
				</a>
			</h4>
		</div>
	</div>
	<div id="collapsePlans" class="panel-collapse collapse" role="tabpanel" aria-labelledby="plans">
		<div class="panel-body">
			<div data-example-id="simple-table" class="bs-example">
				<table class="table table-striped">
					<colgroup>
						<col class="col-xs-5">
						<col class="col-xs-2">
						<col class="col-xs-2">
						<col class="col-xs-2">
						<col class="col-xs-2">
					</colgroup>
					<thead>
					<tr>
						<th>Feature</th>
						<th class="success">Free</th>
						<th>Small</th>
						<th>Medium</th>
						<th>Large</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>Number of spaces</td>
						<td class="success">3</td>
						<td>5</td>
						<td>10</td>
						<td>30</td>
					</tr>
					<tr>
						<td>Number of projects by space</td>
						<td class="success">5</td>
						<td>10</td>
						<td>15</td>
						<td>30</td>
					</tr>
					<tr>
						<td>Private spaces/projects</td>
						<td class="success"><i class="fa fa-check"></i></td>
						<td><i class="fa fa-check"></i></td>
						<td><i class="fa fa-check"></i></td>
						<td><i class="fa fa-check"></i></td>
					</tr>
					<tr>
						<td>Request per minutes</td>
						<td class="success">1</td>
						<td>15	</td>
						<td>30</td>
						<td>60</td>
					</tr>
					<tr>
						<td>Notification by email</td>
						<td class="success"><i class="fa fa-check"></i></td>
						<td><i class="fa fa-check"></i></td>
						<td><i class="fa fa-check"></i></td>
						<td><i class="fa fa-check"></i></td>
					</tr>
					<tr>
						<td>Notification by sms</td>
						<td class="success"></td>
						<td><i class="fa fa-check"></i></td>
						<td><i class="fa fa-check"></i></td>
						<td><i class="fa fa-check"></i></td>
					</tr>
					<tr>
						<td>Webhook support</td>
						<td class="success"></td>
						<td><i class="fa fa-check"></i></td>
						<td><i class="fa fa-check"></i></td>
						<td><i class="fa fa-check"></i></td>
					</tr>
					<tr>
						<td>Subscribe users in public spaces/projects</td>
						<td class="success">unlimited</td>
						<td>unlimited</td>
						<td>unlimited</td>
						<td>unlimited</td>
					</tr>
					<tr>
						<td>Team members</td>
						<td class="success">1</td>
						<td>5</td>
						<td>10</td>
						<td>unlimited</td>
					</tr>
					<tr>
						<td></td>
						<td class="success">$0/mounth</td>
						<td>$9/month</td>
						<td>$19/month</td>
						<td>$49/month</td>
					</tr>
					<tr>
						<td>Plans</td>
						<td class="success"><b>Your plan</b></td>
						<td><button type="button" class="btn btn-primary">Upgrade</button></td>
						<td><button type="button" class="btn btn-primary">Upgrade</button></td>
						<td><button type="button" class="btn btn-primary">Upgrade</button></td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>