<div class="panel panel-default">
	<div class="panel-heading" role="tab" id="security">
		<div class="row">
			<h4 class="panel-title ">
				<a class="collapsed col-lg-12 clear-background" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSecurity" aria-expanded="false" aria-controls="collapseTwo">
					<h4>Security</h4>
				</a>
			</h4>
		</div>
	</div>
	<div id="collapseSecurity" class="panel-collapse collapse<%if @in == 'security'%> in<%end%>" role="tabpanel" aria-labelledby="security">
		<div class="panel-body">
			<div data-example-id="simple-table" class="bs-example">
				<table class="table table-striped">
					<colgroup>
						<col class="col-xs-3">
						<col class="col-xs-7">
						<col class="col-xs-2">
					</colgroup>
					<thead>
					<tr>
						<th>Sessions</th>
						<th>Description</th>
						<th>Ip</th>
					</tr>
					</thead>
					<tbody>
					<% @securities.each do |security| %>
					<tr>
						<td><%= security.name %></td>
						<td><%= security.description %></td>
						<td><%= security.ip %></td>
					</tr>
					<%end%>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>