<div class="row dashboard-page">
	<div class="">
		<br />
		<div class="panel panel-success">
			<div class="panel-body">
				<h2>Gorums setting</h2>
				<br />
				<br />
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingTwo">
						<div class="row">
							<h4 class="panel-title ">
								<a class="collapsed col-lg-10 clear-background" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									<h3>Profile</h3>
								</a>
							</h4>
						</div>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
						<div class="panel-body">
							<div data-example-id="simple-table" class="bs-example">

							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingTwo">
						<div class="row">
							<h4 class="panel-title ">
								<a class="collapsed col-lg-10 clear-background" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									<h3>Account Setting</h3>
								</a>
							</h4>
						</div>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
						<div class="panel-body">
							<div data-example-id="simple-table" class="bs-example">

							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingTwo">
						<div class="row">
							<h4 class="panel-title ">
								<a class="collapsed col-lg-10 clear-background" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									<h3>Plans</h3>
								</a>
							</h4>
						</div>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
						<div class="panel-body">
							<div data-example-id="simple-table" class="bs-example">

							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingTwo">
						<div class="row">
							<h4 class="panel-title ">
								<a class="collapsed col-lg-10 clear-background" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									<h3>Security</h3>
								</a>
							</h4>
						</div>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
						<div class="panel-body">
							<div data-example-id="simple-table" class="bs-example">

							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingTwo">
						<div class="row">
							<h4 class="panel-title ">
								<a class="collapsed col-lg-10 clear-background" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									<h3>Api key</h3>
								</a>
							</h4>
						</div>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
						<div class="panel-body">
							<div data-example-id="simple-table" class="bs-example">

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
  </div>
</div>
