// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(//fonts.googleapis.com/css?family=Roboto+Condensed:700);
@import url(//fonts.googleapis.com/css?family=Open+Sans);

/* Main styles */
body {
  font-family: benton-sans,"Helvetica Neue",helvetica,arial,sans-serif;
  font-size: 15px;
}
ul {
  list-style-image: url("../../images/core/list-bullet.png");
}

nav {
  font-size: 14px;
}

.navbar-nav > li > a.nav-active, .navbar-nav > li > a.nav-active:hover {
  background-color: #333;
  color: #fff;
}
h1, h2, h3, h4, h5 {
  font-family: benton-sans,"Helvetica Neue",helvetica,arial,sans-serif;
  font-weight: bold;
}
footer {
  display: block;
  text-align: center;
  width: 100%;
  padding-top: 20%;
  padding-bottom: 50px;
}
footer > .inner-footer a {
  text-decoration: none;
}
footer > .inner-footer a:hover {
  background-color: #f5f5f5;
  text-decoration: none;
}

.content a:hover {
  background-color: #f5f5f5;
  text-decoration: none;
}
/* End of main styles */

/* Index page styles */
.login {
  color: #fff;
  margin: inherit;
  font-family: "Open Sans",sans-serif;
}
.login:hover {
  color: #aaa;
}
.logo{
  width: 70px;
}
.hero {
  background-color: #225079;
  width: inherit;
  height: inherit;
  color: #fff;
  padding-top: 30px;
}
.btn-hero-core {
  padding: 15px 25px;
  background-color: #2f4033;
  color: #f8f090;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  -webkit-box-shadow: 2px 2px 3px 0px #2C0D33;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    2px 2px 3px 0px #2C0D33;  /* Firefox 3.5 - 3.6 */
  box-shadow:         2px 2px 3px 0px #2C0D33;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.btn-hero-core:hover {
  color: #f8f090;
  text-decoration: none;
}

.btn-hero-core:visited{
  color: #f8f090;
}
.starter-template {
  padding: 60px 15px;
  text-align: center;
}
.title {
  color: #fff;
}
.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;;
}
.content::after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.hero-gradient {
  width: inherit;
  height: inherit;
}
.content .with-gradient {
  background: rgba(0, 0, 0, 0) linear-gradient(#ecf0f1, #fff 80px) repeat scroll 0 0;
  padding: 20px 40px;
  margin-bottom: 100px;
}
.content .with-gradient .first {
  background: #fff none repeat scroll 0 0;
}
.wrapper {
  box-sizing: border-box;
  margin: 0 auto;
}

.height-panel{
  height: 400px
}

.g-started{
  padding-top: 40px;
}

.faq-padding{
  padding-top: 100px;
}
#rest-vps {
  display: none;
}
.value-prop-heading {
  font-weight: bold;
  margin-top: 0px;
}
.value-props {
  margin-top: 20px;
  margin-bottom: 30px;
}

.intro-image {
  text-align: center;
}
.intro-image > img {
  margin-top: 20px;
}

/* End of index page styles */

.started-session {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 15%;
  margin-left: 15%;
}
.started-session > h2, h4 {
  margin-bottom: 20px;
}
.btn-gs {
  width: 150px;
}
.btn-gs:hover, .btn-gs:active, .btn-gs:focus, .jquery-active {
  color: #fff;
  background-color: #682079;
}

@media (max-device-width: 480px) and (orientation: portrait), (max-device-width: 700px) and (orientation: landscape){
  /* Index page overrides */
  .btn-hero-core {
    padding: 10px 15px;
    margin-left: 0px;
    font-size: 16px;
  }
  .intro-image > img {
    display: none;
  }

  /* Overview overrides */
  img[src*="10kft_view"] {
    width: 100%;
    height: 100%;
  }

  /* Getting started overrides */
  .btn-gs {
    width: auto;
  }

  .btn-gs:hover, .btn-gs:active, .btn-gs:focus, .jquery-active {
    width: auto;
  }

  .step {
    width: 90%;
    font-size: 14px;
  }
  .step > h3 {
    font-size: 24px;
  }
  .step-number {
    width: 40px;
    font-size: 18px;
    padding: 5px;
  }
  .terminal {
    width: 95%;
  }
  .terminal-titlebar {
    height: 20px;
  }
  .terminal-body {
    font-size: 12px;
    padding: 5px;
  }
}