// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-height{
  min-height: 650px;
}

#editor {
  width: 100%;
  height: 400px;
}

#result-evaluator{
  padding-top: 45px;
}

.project-svg{
    display: block;
    fill: #225079;
    width: 5em;
    height: 5em;
}